@import "variables";
@import "mixins";

@keyframes rainbow {
    0% {
        background-position: left
    }

    100% {
        background-position: right
    }
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes animate-flip {
    0% {
        opacity: 0;
        transform: rotateX(-120deg) scale(0.9, 0.9);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg) scale(1, 1);
    }
}

@keyframes menuMove {
    from {
        top: -310px;
        opacity: 0.5;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.animate {
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}

.animate.flip {
    animation-name: animate-flip;
    transform-style: preserve-3d;
    perspective: 1000px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: $white;
    font-weight: 400;
    width: 100%;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: $white;
    cursor: pointer;
}

input,
textarea,
button {
    appearance: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

button {
    background-color: transparent;
    line-height: 125%;
    font-size: 18px;
    font-weight: 400;
    color: $white;
}

textarea {
    resize: none;
}

.orange-button {
    background-color: $brighterOrange;
    padding: 20px 42px;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover {
        background-color: $white;
        color: $brighterOrange;
    }
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    color: $black;
    text-align: center;
}

.hidden {
    display: none;
}

.navigation-toggle-button {
    display: none;
    width: 26px;
    height: 26px;
}

.navigation-toggle-button.opened span {
    transform: rotate(45deg);
}

.navigation-toggle-button.opened span::before {
    top: 0;
    transform: rotate(0);
}

.navigation-toggle-button.opened span::after {
    top: 0;
    transform: rotate(90deg);
}

.navigation-span-container {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.navigation-span,
.navigation-span::before,
.navigation-span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}

.navigation-span::before {
    content: '';
    top: -8px;
}

.navigation-span::after {
    content: '';
    top: 8px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-size: 18px;

    &__navigation {
        width: 41%;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-link {
        padding: 10px;
        transition: color 0.3s;

        &:hover {
            color: $orange;
        }
    }

    &__login-container {
        margin: 27px 97px 28px 0;
        width: 16%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-button {
            padding: 7px;
            margin-top: 7px;
            transition: color 0.3s;

            svg path {
                transition: fill 0.3s;
            }

            &:hover svg path {
                fill: $orange;
            }
        }

        .login-button {
            padding: 12px;
            transition: color 0.3s;

            &:hover {
                color: $orange;
            }
        }

        .register-button {
            padding: 12px 24px;
            background-color: white;
            border-radius: 5px;
            color: $brighterOrange;
            transition: all 0.5s;

            &:hover {
                background-color: $brighterOrange;
                color: $white;
            }
        }
    }
}

.fountain-logo {
    &--header {
        margin: 27px 0 28px 100px;
    }

    &--footer {
        margin-bottom: 15px;
    }
}

.search-form {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    gap: 2px;
    display: none;

    &.visible {
        display: flex;
    }

    &__input {
        border-radius: 5px;
        font-size: 18px;
        padding: 2px;
        width: 200px;

        &:focus {
            outline: none;
        }
    }

    &__submit-btn {
        height: 24px;
        width: 24px;

        svg path {
            fill: $black;
            transition: fill 0.3s;
        }

        &:hover svg path {
            fill: $brighterOrange;
        }
    }

    &__close-btn {
        height: 24px;
        width: 24px;
        padding: 3px;

        svg path {
            fill: $black;
            transition: fill 0.3s;
        }

        &:hover svg path {
            fill: $brighterOrange;
        }
    }
}

main {
    width: 100%;
}

.main-section {
    width: 100%;
    position: relative;

    &__content {
        background: url(../images/mainbg.png) top / cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        text-align: center;
        width: 40%;
        margin-top: 164px;
    }

    &__text {
        font-size: 24px;
        width: 45%;
        text-align: center;
        line-height: 150%;
        margin-top: 12px;
        margin-bottom: 46px;
    }

    &__btn {
        margin-bottom: 128px;
    }

    &__benefits {
        width: 890px;
        display: flex;
        padding: 38px 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -68px;
        color: $black;
        gap: 48px;
        background-color: $white;
        box-shadow: 0px 21px 97px rgba(207, 207, 207, 0.25);
        border-radius: 10px;
    }

    &__benefit {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.top-categories {
    padding-top: 160px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 38px;
    }

    .slider__slide {
        height: 432px;
    }
}

.slider-wrapper {
    &__see-all {
        text-align: right;
        margin-bottom: 24px;

        &-btn {
            color: $orange;
            transition: color 0.3s;
            position: relative;

            &:hover {
                color: lighten($orange, 10%);

                &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: lighten($orange, 10%);
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
        }
    }
}

.slider {
    &__slide {
        border-radius: 10px;
        overflow: hidden;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(170%);
            transition: filter .3s;
        }

        &-text {
            position: absolute;
            bottom: 10px;
            left: 24px;
            font-weight: 600;
            font-size: 32px;
            transition: color .4s ease-in-out;
        }

        &:hover {
            .slider__slide-text {
                color: $brighterOrange;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin-top: 0;

        svg rect {
            transition: fill 0.3s;
        }

        &:hover svg rect {
            fill: $white;
        }

        svg path {
            transition: fill 0.3s;
        }

        &:hover svg path {
            fill: $orange;
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.universal-section {
    background: url(../images/we_are_experts_bg.png) top / cover no-repeat;
    width: 100%;
    padding: 54px 0;

    &--examination {
        .universal-section-content__title--accent::after {
            content: '';
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }

    &-pic {
        width: 43%;
        position: relative;

        &__sideblock-wrapper {
            position: absolute;

            &--instructors {
                bottom: 90px;
                right: 0;
            }

            &--examination {
                bottom: 90px;
                left: -60px;
            }

            &--competate {
                bottom: 120px;
                right: 0;
            }
        }
    }

    &-content {
        width: 44%;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            font-size: 52px;
            width: 90%;
            margin-bottom: 38px;
            line-height: 125%;
            position: relative;

            &--accent {
                color: $orange;

                &::after {
                    content: url(../icons/experts_title_underline.svg);
                    position: absolute;
                    left: 32%;
                    height: 5px;
                    bottom: 101px;
                }
            }
        }

        &__text {
            line-height: 150%;
            margin-bottom: 64px;
        }

        &__button {
            align-self: flex-start;
        }
    }
}

.sideblock {
    width: 170px;
    padding: 16px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 69px rgba(112, 112, 112, 0.25);
    border-radius: 10px;

    &__logo {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    &-text {
        color: $black;
        text-align: center;
        line-height: 140%;
        font-size: 20px;

        &--accent {
            font-size: 22px;
            font-weight: 600;
            color: $orange;
            position: relative;
            display: block;

            &::after {
                content: url(../icons/short_underline.svg);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 5px;
                bottom: 15px;
            }
        }
    }

    &--competate {
        width: 140px;

        .sideblock-text--accent::after {
            content: url(../icons/shortest_underline.svg);
            height: 4px;
            rotate: (2deg);
        }
    }
}

.instructors-faces {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;


    &__image {
        width: 40px;
        height: 40px;
        border: 3px solid $white;
        border-radius: 100%;
        object-fit: cover;
        position: absolute;

        &:first-child {
            right: 22px;
        }

        &:nth-child(2) {
            position: static;
            z-index: 1;
        }

        &:nth-child(3) {
            left: 22px;
            z-index: 2;
        }
    }
}

.explore {
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
        width: 30%;
        margin: 0 auto 25px;
    }
}

.courses-wrapper {
    display: flex;
    flex-direction: column;
}

.sort-container {
    margin-bottom: 65px;
    align-self: flex-end;
    position: relative;
    width: 125px;

    &__btn {
        background-color: $brighterOrange;
        padding: 8px 16px;
        border-radius: 50px;
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.5s;
        z-index: 1;
        width: 100%;


        svg {
            width: 27px;
            height: 27px;
        }

        svg path {
            transition: fill 0.5s;
        }

        &:hover {
            background-color: $white;
            color: $black;
            box-shadow: 0px 0px 10px $brighterOrange;
        }

        &:hover svg path {
            fill: $black;
        }
    }

    &__selected-sort {
        background-color: $brighterOrange;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s;

        &:hover {
            background-color: $white;
        }

        &:empty {
            display: none;
        }
    }
}

.sorting-selection {
    width: 100%;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 25px;
    position: absolute;
    top: 2px;
    height: 40px;
    overflow: hidden;
    transition: height 0.4s ease-out;

    &__button {
        color: $black;
        width: 100%;
        height: 43px;

        &.selected {
            color: lighten($orange, 10%);
        }

        &:hover {
            color: $brighterOrange;
        }

        &:first-child {
            padding-top: 40px;
            height: 83px;
        }
    }
}

.courses-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.course-card {
    width: 31.6135%;
    height: 405px;
    box-shadow: 0px 0px 20px rgba(203, 203, 203, 0.25);
    border-radius: 10px;
    color: $black;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.5s;

    &:hover {
       box-shadow: 0px 0px 25px rgb(75, 69, 69);
    }

    &__image-container {
        height: 53%;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &-content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 47%;

        &-main {
            display: flex;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;

            &__title {
                width: 80%;
            }
        }
    }
}

.score {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 7px;

    &__number {
        font-size: 16px;
    }
}

.course-card-content-stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-stats {
    display: flex;
    font-size: 16px;

    &__duration {
        margin-right: 16px;
    }

    &__students-count {
        margin-left: 5px;
    }

    &__price {
        color: $orange;
        font-weight: 600;
    }
}

.popular-examination {
    padding-top: 130px;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 38px;
    }

    .slider__slide {
        height: 303px;
        border-radius: 10px;
        overflow: hidden;

        &-img {
            filter: brightness(100%);
            transition: filter .3s;
        }

        &-text {
            position: absolute;
            bottom: 10px;
            left: 25px;
            font-weight: 400;
            font-size: 24px;
            transition: color .3s ease-in-out;
            width: 170px;
        }

        &:hover {
            .slider__slide-text {
                color: $orange;
            }

            .slider__slide-img {
                filter: brightness(170%);
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 45%;
    }
}

.competate {
    display: flex;
    flex-direction: column;

    &__title {
        width: 40%;
        font-size: 48px;
        font-weight: 600px;
        color: $black;
        margin-bottom: 64px;
        align-self: center;
        text-align: center;
    }
}

.notify-form {
    background-color: $white;
    box-shadow: 0px 0px 25px rgba(17, 24, 39, 0.18);
    border-radius: 10px;
    font-size: 20px;
    padding: 40px;
    
    &__title {
        text-align: center;
        margin-bottom: 44px;
    }

    &__input-container {
        margin-bottom: 32px;

        &:last-child {
            margin-top: 64px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    &__input {
        border: 1px solid rgb(147, 147, 147);
        border-radius: 5px;
        background-color: rgba(168, 168, 168, 0.168);
        display: block;
        width: 100%;
        padding: 12px 16px;
        font-size: 18px;

        &:focus {
            outline: 2px solid $brighterOrange;
            border: none;
        }
    }

    &__button {
        color: $white;
        padding: 16px 80px;
        border-radius: 5px;
        background-color: $brighterOrange;
        transition: all 0.5s;
        font-size: 18px;

        &:hover {
            box-shadow: 0 0 5px 5px $brighterOrange;
            background-color: $white;
            color: $black;
        }
    }
}

.reviews {
    padding: 100px 0;

    &__title {
        color: $black;
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        padding-bottom: 54px;
    }

    &__content-wrapper {
        display: flex;
        gap: 90px;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 65px;
        width: 33%;
    }

    &__text {
        color: $black;
        font-size: 48px;
        font-weight: 600;
        position: relative;
        margin-top: 20px;

        &--accent {
            color: $orange;
        }

        &::after {
            content: url(../icons/long_underline.svg);
            position: absolute;
            top: 80px;
            left: 0px;
            transform: rotate(2deg);
        }
    }

    &__button-wrapper {
        display: flex;
        gap: 50px;
    }


}

.swiper2-button-prev,
.swiper2-button-next {
    cursor: pointer;

    svg rect {
        fill: white;
        transition: fill 0.3s;
    }

    svg path {
        transition: fill 0.3s;
    }

    &:hover svg rect {
        fill: $orange;
    }

    &:hover svg path {
        fill: rgb(255, 255, 255);
    }
}

.reviews-slider {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;

    &__slide {
        color: $black;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px;
        box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.301);
        border-radius: 10px;

        &:hover {
            box-shadow: 0px 0px 10px 10px lighten($orange, 20%);
        }
    }

    &__slide-student {
        display: flex;
        gap: 16px;
    }

    &__slide-avatar img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    &__slide-name-wrapper {
        padding: 5px 0;
    }

    &__slide-name {
        font-weight: 600;
    }

    &__slide-job {
        color: $orange;
        font-size: 22px;
    }

    &__slide-comment-wrapper {
        font-size: 18px;
    }
}

.swiper2 {
    &__wrapper{
        padding: 20px;
    }
}

.footer {
    background-color: $black;
    padding-top: 75px;
    padding-bottom: 100px;
    font-size: 20px;

    &__content-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__slogan {
        width: 270px;
        margin-bottom: 27px;
    }

    &__social-links-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__social-link {
        svg path {
            transition: fill 0.3s;
        }

        &:hover svg path {
            fill: $orange;
        }
    }

    &__contacts-about-us-wrapper {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    
    &__contacts-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__contact {
        font-size: 18px;
        transition: color 0.3s;
        
        &:hover {
            color: $orange;
        }
    }

    &__about-us-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__about-us-heading {
        margin-bottom: 25px;
    }

    &__about-us-link {
        margin-bottom: 15px;

        &:hover .footer__about-us-item {
            color: $orange;
        }
    }

    &__about-us-item {
        font-size: 18px;
        transition: color 0.3s;
    }

    &__subscribe-container {
        text-align: center;
    }

    &__subscribe-label {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &__subscribe-form {
        display: flex;
        justify-content: center;
    }

    &__subscribe-input {
        width: 420px;
        padding: 10px;
        font-size: 20px;
        display: block;

        &:focus {
            outline: none;
        }

    }

    &__subscribe-button {
        font-size: 16px;
        padding: 10px 20px;
        display: block;
        color: $white;
        background-color: $brighterOrange;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($brighterOrange, 15%);
        }
    }
}

@media (max-width: 1385px) {
    .main-section__title {        
        width: 46%;
    }

    .page-header {
        &__navigation {
            width: 43%;
        }

        &__login-container {
        width: 17%;
        }
    }
    
    .wrapper {
        width: 1200px;
    }

    .universal-section-content__title--accent::after {
        left: 33%;
    }

    .course-card {
        width: 31%;
    }

    .competate__title {
        width: 45%;
    }

    .popular-examination .slider__slide {
        height: 290px;
    }    
}

@media (max-width: 1300px) {
    .wrapper {
        width: 1150px;
    }

    .universal-section-pic {
        width: 45%;
    }

    .universal-section-content__title--experts {
        width: 100%;
    }

    .universal-section-content__title--accent::after {
        left: 31%;
    }

    .page-header {
        &__navigation {
            width: 45%;
        }

        &__login-container {
            width: 17.5%;
            }
    }

    .top-categories .slider__slide,
    .top-categories .swiper-slide {
        height: 400px;
    } 

    .course-card-content-main__title {
        font-size: 23px;
    }
    
    .popular-examination .slider__slide {
        height: 280px;
    }   
    
    .universal-section-pic__img {
        width: 95%;
    }

    .reviews__text-wrapper {
        width: 34%;
    }
}

@media (max-width: 1250px) {
    .wrapper {
        width: 1100px;
    }

    .top-categories .slider__slide {
        height: 390px;
    }  

    .top-categories .slider__slide-text {
        left: 15px;
    }
    
    .universal-section-content__title--accent::after {
        left: 32%;
    }

    .explore__title {
        width: 38%;
    }

    .course-card-content-main__title {
        font-size: 22px;
    }

    .popular-examination .slider__slide {
        height: 270px;
    }   

    .competate__title {
        width: 50%;
    }

    .reviews__text-wrapper {
        width: 37%;
    }
}

@media (max-width: 1210px) {
    .main-section__content {
        background-position-x:  20%;
    }

    .main-section__title {
        width: 53%;
    }

    .wrapper {
        width: 1050px;
    }

    .page-header {
        &__navigation {
            width: 47%;
        }

        &__login-container {
            width: 18%;
            }
    }

    .top-categories .slider__slide {
        height: 380px;
    } 
    
    .top-categories .slider__slide-text {
        font-size: 28px;
    }

    .universal-section-pic__sideblock-wrapper--instructors {
        bottom: 70px;
    }

    .card-content-stats {
        font-size: 15px;
    }

    .universal-section-content__title--accent::after {
        left: 34%;
    }

    .popular-examination .slider__slide {
        height: 260px;
    }   
}

@media (max-width: 1150px) {
    .fountain-logo--header {
        margin-left: 80px;
    }

    .page-header__login-container {
        margin-right: 80px;
        width: 19%;
    }

    .page-header__navigation {
        width: 49%;
    }

    .top-categories .slider__slide {
        height: 370px;
    }  

    .wrapper {
        width: 1000px;
    }

    .universal-section-content__title {
        font-size: 50px;
    }

    .universal-section-pic__sideblock-wrapper--instructors {
        bottom: 60px;
    }

    .course-card {
        height: 380px;
    }

    .course-card-content-main__title {
        font-size: 20px;
        width: 75%;
    }

    .course-card-content-stats-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .card-content-stats {
        justify-content: space-between;
        width: 100%;
    }

    .card-content-stats__duration {
        margin-right: 0;
    }

    .popular-examination .slider__slide {
        height: 250px;
    }   
}

@media (max-width: 1100px) {
    .main-section__content {
            background-position-x:  25%;
    }

    .wrapper {
        width: 980px;
    }

    .top-categories .slider__slide {
        height: 360px;
    }  

    .universal-section-content__title {
        font-size: 48px;
    }

    .universal-section-content__title--accent::after {
        left: 32%;
        bottom: 95px;
    }

    .sideblock {
        width: 160px;

        &--competate {
            width: 130px;
        }
    }

    .popular-examination .slider__slide {
        height: 240px;
    }  
    
    .competate__title {
        width: 60%;
    }

    .notify-form {
        &__title {
            margin-bottom: 34px;
        }

        &__input-container {
            margin-bottom: 30px;
    
            &:last-child {
                margin-top: 60px;
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 1050px) {
    .wrapper {
        width: 930px;
    }

    .fountain-logo--header {
        margin-left: 60px;
    }

    .page-header__login-container {
        margin-right: 60px;
        width: 20%;
    }

    .search-form {
        right: 30px;
    }

    .main-section {
        &__title {
            width: 60%;
        }

        &__text {
            width: 65%;
        }
    }

    .top-categories .slider__slide {
        height: 340px;
    }  

    .top-categories .slider__slide-text {
        font-size: 26px;
    }

    .universal-section-pic {
        width: 46%;
    }

    .universal-section-content {
        width: 46%;
    }

    .popular-examination .slider__slide {
        height: 220px;
    }   
}

@media (max-width: 1024px) {
    .wrapper {
        width: 920px;
    }
}

@media (max-width: 990px) {
    .search-form__input {
        width: 190px;
    }
}

@media (max-width: 960px) {
    .page-header__navigation {
        width: 52%;
    }

    .search-form__input {
        width: 180px;
    }

    .main-section {
        &__title {
            width: 65%;
        }

        &__text {
            width: 65%;
        }
    }

    .wrapper {
        width: 880px;
    }

    .top-categories .slider__slide {
        height: 320px;
    }  

    .top-categories .slider__slide-text {
        font-size: 24px;
    }

    .universal-section-content__title {
        font-size: 44px;
    }

    .universal-section-content__title--accent::after {
        left: 29%;
        bottom: 86px;
    }

    .explore__title {
        width: 47%;
    }

    .courses-container {
        gap: 50px;
        padding: 0 20px;
    }

    .course-card {
        width: 47%;
        height: 405px;
    }

    .course-card-content-main__title {
        font-size: 24px;
        width: 80%;
    }

    .course-card-content-stats-wrapper {
        flex-direction: row;
        gap: 0;
    }

    .card-content-stats {
        justify-content: flex-start;
        width: 100%;
    }

    .card-content-stats__duration {
        margin-right: 16px;
    }

    .universal-section-content__title--examination {
        width: 80%;
    }

    .universal-section-pic__sideblock-wrapper--examination {
        bottom: 55px;
        left: -40px;
    }

    .popular-examination .slider__slide {
        height: 210px;
    }   
}